@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    overflow-x: hidden;
    font-weight: 400;
    line-height: 1;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(22, 23, 26);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(42, 43, 50);
  /* border: 3px solid #f0f0f0; */
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 15px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 7px solid rgba(170, 170, 170, 0.447);
  border-radius: 2px;
}

.scrollbar-dropdown::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-dropdown::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(170, 170, 170, 0.447);
  border: 3px solid rgba(170, 170, 170, 0.447);
  border-radius: 15px;
}

.ut-animation {
  @apply transition-all duration-200;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.global-x-padding {
  @apply px-[2rem] md:px-[1.2rem];
}

.input {
  @apply text-colorText ut-animation w-full rounded-sm bg-transparent
  px-4 py-3 text-xs  font-medium outline-none  placeholder:text-gray-500;
}

.border-normal {
  box-shadow: 0 0 0 2px rgba(146, 147, 156, 0.305);
}

.border-error {
  box-shadow: 0 0 0 2px rgb(255, 56, 56);
}

.video-height {
  height: calc(0.5626 * 100%);
}

.responsive-video-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.meeting-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.peer-card-border {
  box-shadow: 0 0 0 2.3px #4477ce;
}

@media (max-width: 31.25em) {
  .meeting-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

.flip-video {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1); /* For older Firefox browsers */
  -webkit-transform: scale(
    -1,
    1
  ); /* For older Chrome, Safari, and other Webkit browsers */
  -o-transform: scale(-1, 1); /* For older Opera browsers */
}
